<h2>Legend</h2>
<ul class="legend">
    <li><div class="calkey server"></div>Server/Public Events</li>
    <li><div class="calkey nonfc"></div>Non-FC Events</li>
    <li><div class="calkey rp"></div>FC RP Events</li>
    <li><div class="calkey ooc"></div>FC OOC Events</li>
    <li><div class="calkey pve"></div>FC PvE Events (e.g. Raids)</li>
    <li><div class="calkey member"></div>Member Events</li>
    <li><div class="calkey other"></div>Other</li>
</ul>

