@{
    ViewBag.Title = "Info";
}
<div class="content">
    <h1 class="float-right">FFXIV - Balmung</h1>
    <h1>A Lore-Abiding Heavy-RP Company</h1>
    <p>
        A Reclamation &amp; Salvage Company neutral to the Alliance that operates in the capacity of reclaiming
        and salvaging relics and lost artifacts.  For the 'public good' only those determined inert or harmless by
        their own researchers would be allowed to be sold otherwise they'd be dealt with accordingly.
    </p>

    <h2>Out of Character Concept</h2>
    <p>A community founded on the basis of cooperation and collaboration.  All members of the community are held to a high standard of personal integrity and optimism to work together to write compelling, immersive stories within the Final Fantasy XIV universe.  A unity of friends that work together to have a fun, enriching environment both with each other and the greater roleplay community.</p>

    <h2>Plot &amp; Hooks</h2>
    <p>The scope of the company while defined as a reclamation &amp; salvage company engages in a broad-variety of 
        missions including but not limited to the following hooks and concepts:
        <ul>
            <li>Reclamation of ancient artifacts (e.g. Allagan)</li>
            <li>Research and investigation into ancient cultures, history, and materials reclaimed.</li>
            <li>Acquisition of stolen or dangerous goods</li>
            <li>Nullifying and disposing of forbidden magicks and goods</li>
            <li>Support on contractual basis to support the mission of Eorzean scholars to better understand the world we live in</li>
            <li>And more.</li>
            </ul>
    </p>
    <hr />
    <h2>In Character Structure</h2>
    <p>Unlike a traditional top-down hierarchy, the Mythril Collective is just that, a collective.  Work comes in for the company through various sources and the jobs provided by the company are taken as at-will work by those whom agree to adhere to the standards and rules of the company in return a cut of all jobs goes toward the company kitty to pay for overhead services such as the medical and bookkeeping needs.</p>

    <p>Members of the collective are open to accepting outside work so long as it doesn’t work against the interests of the company.  In the case of a dispute (in-character ones) the collective will determine that person’s fate.  The mission-leader will make snap-decision calls in the field if it’s necessary.</p>
    <h2>Out of Character Structure</h2>
    <p>The general day-to-day activities are governed by a council of members which must abide by the same standards as regular members as well as maintain a specified level of activity.  Councilmen may be added or removed as necessary.  The council will provide record of all discussions and meetings to the general membership.  All decisions that will change the structure, scope or modification of the company must be ratified by the entire membership.</p>


</div>