
@{
    ViewBag.Title = "Rules";
}
<div class="content">
    <h1>Company Rules</h1>
    <h2>The "One" Rule</h2>
    <img src="/Images/onerule.jpg" alt="The one rule to rule them all.  Be excellent to each other and party on!" />
    <br />The one rule to rule them all.
    <hr />
    <h1>Community Guidelines</h1>
    <h2>Mutual Respect</h2>
    <p>Mutual respect is required within this Free Company. Treat others with civility and understanding, and you will receive the same in kind. We are not asking you to love everyone - we are asking that you treat one another as human beings. No one is playing this game to be treated like dirt. Failure to abide by this rule will result in leadership involvement and action. The guidelines below will fall within purview of this Mutual Respect Clause:</p>
    
    Think of others before yourself, be mindful of how they perceive your words and actions. To be included (but not limited by) under the clause of respect are the following examples.
    <ul>
        <li>Do NOT interrupt or interject Roleplay with OOC shenanigans. I.E. jumping on people's heads, emote spam, loud class actions, etc.</li>
        <li>Do NOT accept Duty Finder queues while roleplaying without first excusing yourself.</li>
        <li>Do NOT make sarcastic remarks, belittle another's opinion, or engage in name calling.</li>
        <li>Do NOT complain to the officers every time someone hurts your feelings. DO try and talk to that person first and RESOLVE your problems like mature adults.</li>
        <li>Do NOT get angry when no one wants to run your raid/dungeon/etc when you want them to. Learn to schedule things in advance. Do try and respond when others make requests to at least acknowledge and decline if you are busy/don't want to.</li>
        </ul>

    <h2>Interpersonal Problems</h2>
    <p>We will strive for low-drama as a group. This means that we ask our players to work with us to diminish OOC and interpersonal drama. If you are having issues with another player that you are unable to resolve on your own, please contact an officer. Officers will not fix your problem for you, but will act as mediators to reach a resolution. Do not involve others in your drama - they don't pay a monthly fee to get dragged into crap they didn't ask for. We're not saying don't vent; we're saying, don't drag other people into the immediate issue and expect them to either help or side with you. Do not involve yourself in other people's drama. If you feel someone broke a rule or you need the Council's help, please use the File a Complaint form on the forums. It helps us all stay on the same page.</p>

    <h2>Profanity, Controversial/Sensitive Subjects, Hot Topic Issues</h2>
    <p>We are not prudes. Cursing is done and accepted, providing it doesn't get directed at one another. For example, something like "I had a shitty day" is fine, while "You are a shitty day" is not so fine. It's okay to joke around but, understand not all people will appreciate such topics. If you're asked to stop, or the topic to be changed, do so immediately.</p>
    
    <h1>Roleplayer Guidelines</h1>
    <p>The Company is a Heavy Roleplay community that has a strong emphasis on good roleplay-practices, plausible realism and lore-friendly characters and plotlines. This means that those who choose to participate in our roleplay environment may find persistant characters who play out their everyday lives.  Player-driven and company-driven story arcs are common with both proactive and reactive approaches.  The use of player-created NPCs are sometimes utilized as props for story arcs and should be given the same respect as the player. <a href="http://ffxiv-roleplayers.com/showthread.php?tid=1770">Roleplayer's Handbook</a></p>

    <h2>Separation of IC and OOC</h2>
    <p>This rule is incredibly important when it comes to cultivating a healthy RP environment. As we know, characters insult the crap out of one another on occasion. This is part of worldview. It is important to understand that, if one person's character insults yours, this does not mean that the player is insulting YOU. However, if at any point you suspect another member is warping the behavior of their character to try and convey personal malice toward you, discuss it with them. If that discussion becomes heated or offensive, take it to an officer for assistance. Roleplay is not a conduit for players to be passive aggressively crappy to one another.</p>
    <h2>Conflict RP</h2>
    <p>Conflicts will always arise in character and interpersonal problems are plentiful in any group. Please be MINDFUL however of how your roleplay impacts others. Try and refrain from major conflict arcs right before a company event or causing major disruption at other company events. Make sure that when you are involved in a conflict RP that you are aware of your surroundings and acknowledge others roleplaying. In addition if you come upon conflict RP be reasonable and understanding in how a commotion can cause a person to focus. If your emotes are ignored, whisper the individuals involved to bring their attention to them. At times when roleplaying a fight it is easy to tunnel vision and accidentally miss an action.</p>
    
    <h2>Mature/Erotic RP</h2>
    <p>What you do in the privacy of your own chambers is your business but do not ask for it and do not broadcast it.  Be mindful of the comfort levels of who you are role playing with.  Do not hound others or harass them.  Overly suggestive banter should also be kept to a minimum.  If it’s nothing you would do in front of Grandma you should probably take it somewhere else.  In short, don’t ask and don’t tell.</p>
    
    <h2>Don't use ‘chatspeak’ in Roleplay</h2>
    <p>The rules of grammar exist for one purpose: to allow people to understand what you are trying to say. If you ignore them, no one will be able to follow you without working really, really hard at it and that tends to drive people away. In order to make your emotes easy and enjoyable to read, try to use proper grammar, spelling and punctuation. That is not to say we expect you to be literary professors and everyone typos but the conscious use of elements like 'u' to replace 'you' is frowned upon.  There is a big difference between having English as your second language and making mistakes and just being lazy.</p>

    <p>Common English mistakes: <a href="http://www.copyblogger.com/5-common-mistakes-that-make-you-look-dumb/">5 Common Mistakes that make you look dumb</a></p>

    <h2>Follow Roleplay Conventions</h2>
    <p>Work with your fellow RPers and avoid puppeting, godmodding, and metagaming, especially in combat!</p>

    <p>The conventions of roleplaying involve working with your fellow RPers on the RP while remembering you are in direct control of only your character, and that your character's knowledge of a situation is different from your own as the character's owner. The following three types of offenses are flagrant instances of flaunting these conventions, but can easily be avoided with OOC conversation between RPers.</p>

    <p>It is good form what when roleplaying in a conflict that you acknowledge your opponents actions toward your character even if they do not have their desired impact. Here is a helpful guide to explain this further and give you an idea of how to avoid this problem.</p>

    <p><b>God-modding</b> is cheating the system of RP so that your character comes out either without a scratch or with absolute advantage in any situation. This is typically done without conversing with the RP's owner, and ignores their authority to control the situation of their RP. Examples: Unapproved one-shot kills, 'effortless' combat with NPCs, acting with total invulnerability to the actions of NPCs or other Player Characters.</p>

    <p><b>Puppeting</b> is taking control of characters when you do not have the authority to do so, and acting contrary to what their real owners would have them do. Unless you have direct permission from the owner of the character, you cannot control them. This is especially true in combat, where you cannot decide if your attacks hit. This also includes unfairly limiting the options of another character.</p>

    <p><b>Meta-gaming</b> involves using applying Out-of-Character knowledge of a situation to your character's benefit. This is not always intended, but does not change the fact that the advantage is noticeable and generally unfitting with what the character would have done based on in-character knowledge and reactions. If you keep the distinction between what you know and what your character knows, this is easy to avoid.</p>
    
    <h2>Keep to the Lore</h2>
    <p>Keep your RP consistent with the Final Fantasy XIV universe and its setting.</p>

    <p>While some specific aspects of lore and roleplay styles may vary the setting is not as much. Do your best to maintain yourself within the world of Hydaelyn and not break canon. This helps to establish a consistency. A few examples (but not limited to them) are as follows:</p>
    <ul>
       <li>According to the Lore Developers there is only ONE Warrior of Light; Therefore it is bad form to roleplay as 'The Warrior of Light'.</li>
        <li>Primals are well-known, deadly things. It is rare someone comes back alive from fighting one.</li>
        <li>Reference in-game related items instead of modern ones. [popoto vs potato]</li>
        <li>If you break an accepted arch-trope in your character's background do not demand others accept it. (e.g. Claims you are from a far off-land, demands you know EXACTLY where chocolate mountain is)</li>
        <li>If something is a grey-area in established canon you utilize it at your own risk.</li>
        </ul>
    
    <h2>Be a Collaborator not a Storyteller</h2>
    <p>It is very easy to get so wrapped up in the story of your own character you miss out on the true, fundamental reason of what makes roleplay fun--the interaction.  Try and consider ways to help others progress their stories or to intermingle arcs so that it supports more than just your character.  Taking the time to listen and be a part will often create hooks and offer chances for character development you may not have considered.  We’re all in this together and being both a consumer and provider of roleplay makes everyone happy!</p>

    <h2>Be Mindful of your Audience</h2>
    <p>As a matter of respect be aware of those around you who may not be roleplaying or who may not wish to engage in the kind of roleplay you are doing. If the roleplay could be sensitive in nature, take it to party chat or into private. Dark, mature or gruesome roleplay should be mutually accepted by all parties involved. This includes elements of lewdity, torture, extreme violence and public displays of affection. Keep the public areas of roleplay in keeping with the 'Teen' rating of the game.  When scheduling FC events that may be mature or dark in nature please label it as such.</p>
    
    <h2>IC Actions have IC Consequences</h2>
    <p>We as writers create characters that have personalities that don’t always get along and sometimes don’t fit into a mold of a given community.  If a character makes a decision or performs an action they will have to suffer the consequences.  What those consequences are is up to interpretation and may vary based on the circumstances.  Generally, the idea of “IC actions = IC consequences” is meant as an exhortation to writers to think of the consequences of their characters’ actions before taking them in an effort to write a realistic piece of fiction. For example, if you don’t want your character to spend some time in the brig, it might be a good idea to wear pants while on duty.</p>

    <h1>Raider / PvE Guidelines</h1>
    <p>Players are not required to participate in anything they do not wish to however if you do participate in PvE/Raid content with the community here are the expectations and guidelines.</p>

    <h2>Be Proactive in your Character's Development</h2>
    <p>While advice is cheap, time is not. You are expected to know your chosen class' abilities, how to properly optimize and utilize that character and continually try and improve your overall performance. In addition, when it comes to gearing you are expected to perform your own research and investment into raising your stats.  Asking for help is fine!  Expecting others to play your class is not.</p>
    <h2>Communicate</h2>
    <p>If you do not know the fight or are fuzzy on an aspect of it, ask a clear and precise question. Do not sit in silence and risk the entire group because you were afraid to ask. In addition if you sign up for an event and cannot make it, communicate ON THE FORUMS or in writing to the leader of the event. Do not try and pass the message via in-game telephone because if the message does not reach the leader you WILL be held accountable.</p>
    <h2>Attendance</h2>
    <p>If you sign up for a raid you are expected to attend it unless you have given notice. Emergencies and unexpected events do HAPPEN but repeatedly not showing up hurts those who were counting on you. If it happens too often nobody will want to bring you along and you may end up benched indefinitely.</p>
    <h2>Patience</h2>
    <p>Not everyone is on the same level as you are. If you are an experienced player try and help others who are patient, proactive and wanting to learn. Offer constructive criticism instead of just complaints.</p>
    <h2>Whining</h2>
    <p>Do not whine. Be productive in your remarks to offer solutions and employ problem solving. Blanket statements like "our dps sucks" or "why are our healers always oom?" are not helpful and damage morale. This attitude will not be tolerated. An acceptable alternative would be, "We got him down to 17% before reaching the enrage timer, lets see if we can pick it up a bit. If anyone needs an extra boost I have Potent Poisoning Potions" or "Healers, what is causing you to lose so much mana so early in the fight?"</p>

</div>
